@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

body {
   background-color: #FFb700;
}

header {
    display: flex;
    justify-content: center;
}

main {
    background-color: #FBC725;
    height: 580px;
}

section#infos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

div.texto {
    padding: 5rem;
}

div.texto h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: .5rem;
}

div.texto span {
    display: block;
    font-size: 1.8rem;
    text-align: center;
    color: rgb(10, 11, 31);
    
}

div.texto button {
    width: 65%;
    margin-left: 2.5rem;
    font-size: 1rem;
    background-color: rgb(10, 11, 31);
    color: #bebebe;
    border: 1px solid #bebebe;
    border-radius: 20px;
    transition: all .5s ease-out;
}

div.texto button:hover {
    transform: scale(1.2);
    box-shadow: 3px 3px 3px 3px rgb(10, 11, 31);
    cursor: pointer;
    background-color: #FBC725;
    color: rgb(10, 11, 31);
    border: none;
}

div.img {
    display: flex;
    justify-content: center;
}

div.img img {
    width: 250px;
    transition: all .5s ease-out;
}

div.img img:hover {
    transform: scale(1.2);
    cursor: pointer;
}
